body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
dl,
dt,
dd,
p,
span,
object,
iframe,
pre,
a,
abbr,
cite,
input,
select,
option {
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-family: 'Microsoft YaHei';
  font-weight: normal;
}
ul,
li,
ol,
dl,
dd,
dt,
form {
  list-style: none;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: 'Microsoft YaHei';
  font-size: 12px;
  background: #e7ecef;
}
img {
  border: none;
  outline: none;
}
em,
i {
  font-style: normal;
}
input {
  outline: none;
}
a {
  outline: none;
  text-decoration: none;
  color: #666;
}
a:hover,
a:active,
avisited {
  text-decoration: none;
}
.clearfix:after {
  content: '.';
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.csdn-toolbar .logo .img {
  background-position: -162px -52px;
}
.pub_fo {
  bottom: 0;
  margin-top: 10px;
}
.csdn-toolbar {
  width: 100%;
}
.csdn-toolbar .container {
  width: 1170px;
  margin: 0 auto;
}
.exp_body {
  background: url("../images/export_bg.jpg") 0;
}
/*  add by zhangw 170220 start   */
/*img
  max-width 640px
  height auto
*/
/*  add by zhangw 170220 end   */
